{% extends 'base.html' %}

{% block title %}Reset Password | HarmonyCreativeStudio{% endblock title %}

{% block css %}
    <style>
        footer{
            position:absolute;
            bottom:0;
            width:100%;
        }
    </style>
{% endblock css %}

{% block body %}
    <div style="height:66vh;">
        <div class="mb-3 container mt-5">
            <h3>Reset Password?</h3>
            <p>Enter Your email address below, and we'll email instructions for setting a new one.</p>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="Send email" class="btn btn-sm btn-outline-secondary p-1">
            </form>
        </div>
    </div>
{% endblock body %}