{% extends 'base.html' %}

{% block title %}Reset Password | HarmonyCreativeStudio{% endblock title %}

{% block css %}
    <style>
        footer{
            position:absolute;
            bottom:0;
            width:100%;
        }
    </style>
{% endblock css %}

{% block body %}
    <div style="height:66vh;">
        <div class="mb-3 container mt-5">
            <h3>Password Reset Completed!</h3>
            <p>Your Password has been set. You may go ahead and login now.</p>
            <a href='/blog'>Login from here</a>
        </div>
    </div>
{% endblock body %}