{% extends 'base.html' %}

{% block title %}Reset Password | HarmonyCreativeStudio{% endblock title %}

{% block body %}
    <div style="height:66vh;margin-bottom:10px;">
        <div class="mb-3 container mt-5">
            <h3>Enter New Password</h3>
            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            <form method="post">
                {% csrf_token %}
                {{ form }}<br><br>
                <input type="submit" name="Update password" class="btn btn-sm btn-outline-secondary p-1">
            </form>
        </div>
    </div>
{% endblock body %}