{% extends 'base.html' %}

{% block title %}Reset Password | HarmonyCreativeStudio{% endblock title %}

{% block css %}
    <style>
        footer{
            position:absolute;
            bottom:0;
            width:100%;
        }
    </style>
{% endblock css %}

{% block body %}
    <div style="height:66vh;">
        <div class="mb-3 container mt-5">
            <h3>Reset Password Sent</h3>
            <p>We have emailed you instructions for resetting your password, if an account exists with the email you entered. You should recieve them shortly!</p>
            <p>If you don't recieve an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
{% endblock body %}