{% extends 'base.html' %}

{% block title %}Broadcast a message | HarmonyCreativeStudio{% endblock title %}

{% block css %}
<style>
    textarea:focus, input:focus{
        outline:none;
    }
</style>
{% endblock css %}

{% block body %}
    <div class="container">
        <form method="post" action="/broadcast/" style="display:inline-block;">
            {% csrf_token %}
            <textarea placeholder="Message" id="msg" name="msg" style="border-radius:10px;resize:none;padding:10px;height:33.5vh;width:60vw;" class="mt-5" required></textarea><br>
            <label for="activeDays">Active Days</label>
            <input type="number" min="1" name="activeDays" id="activeDays" style="border-radius:10px;padding:5px;" required><br>
            <button type="submit" class="btn btn-outline-secondary btn-sm mt-2">Broadcast Message</button>
        </form>
    </div>
{% endblock body %}