.formInput{
    width:100% !important;
}
.footerIconAnchors{
    font-size: 10px;
}

form{
    font-size: 10px;
}

.text-big{
    font-size: 21px;
}

.text-small{
    font-size: 8px;
}

.HarmonyTextLetter{
    font-size:30px;
    color:red;
}

.HarmontTextWord{
    font-size: 20px;
}

.card-text-small{
    font-size: 10px;
}

.copyrightFooter{
    font-size: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchForm{
    margin-top: 50px !important;
}

.indicator{
    height: 100px !important;
    padding-top: 150px;
}

.btnIndicator{
    background-color: gray;
}

.testimonial-box-outer{
    margin-left: 5px !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    max-width:90% !important;
    padding: 5px;
    height: 500px !important;
    border: 1px solid gray !important;
}

.slide-col{
    padding: 0 !important;
}

.text3D{
    font-size: 1em;
}